* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;     /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;  /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;       /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-appearance: none;

    font-family: 'Muli', sans-serif;
    color: #22313F;
    background-color: #EFF9F8;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 2em;
    padding: 1em 0 0 0;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: #4183D7;
}

ul {
    list-style: none;
    border-bottom: 1px solid #d3d3d3;
    text-align: left;
}

li {
    margin-left: -40px;
    padding: 1em .5em;
    border-top: 1px solid #d3d3d3;
    font-size: 0.9em;
}

button {
    -webkit-appearance: none;
    font-size: 2em;
    border-radius: 3px;
    border: none;
    padding: .6em 2em;
    margin: 10px 0;
    min-width: 200px;
    background-color: #03C9A9;
    color: #FFFFFF;
    font-family: 'Muli', sans-serif;
}
span {
    display: block;
    font-size: 3rem;
    padding: 0 0 1em 0;
}

#mainPage {
    text-align:center;
}

#detailPage {
    text-align:center;
}

#detailPage pre {
    text-align:left;
}

#statusDiv {
    font-size: 1.9em;
    margin-bottom: 10px;
}

input[type=range] {
    margin: 10px;
    width: 90%;
    height: 100px;
}

input[type='range']::-webkit-slider-thumb {
    height: 50px;
    width: 50px;
}

input[type=checkbox] {
  width:30px;
  height:30px;
  margin:20px;
}

label {
  font-size: 2em;
}
